{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Дата</th>
        <th scope="col">Поставщик</th>
    </tr>
    </thead>
    <tbody>
    <tr>
          <th scope="row">{{ arrival.date }}</th>
          <th scope="row">{{ arrival.supplier }}</th>
    </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Продукт</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
          {% for item in arrival.arrivalcomposition_set.all %}
          <tr>
                <th scope="row">{{ item.product.name }}</th>
                <th scope="row">{{ item.quantity }}</th>
                <th scope="row">{{ item.purchase_price | floatformat:1}}</th>
          </tr>
        {% endfor %}
          <tr bgcolor="cuan">
              <th scope="col">Итого: </th>
              <th scope="row">{{ arrival.total_quant}}</th>
              <th scope="row">${{ arrival.total_arrival_cost|floatformat:2 }}</th>
          </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Описание</th>
        <th scope="col">Оформитель</th>
    </tr>
    </thead>
    <tbody>
    <tr>
          <th scope="row">{{ arrival.description }}</th>
          <th scope="row">{{ arrival.user }}</th>
    </tr>
    </tbody>
</table>


{% endblock %}

