{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">article number</th>
    </tr>
  </thead>
    <tbody>
    {% for arrival in recent_arrivals %}
    <tr>
          <th scope="row"><a href=""> {{ arrival }}</a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>

    {{ product }}


{% endblock %}

<!--
article_number = models.CharField(max_length=50, unique=True, null=True)
    name = models.CharField(max_length=255)
    description = models.TextField()
    purchase_price = models.DecimalField(max_digits=10, decimal_places=2)
    sell_price = models.DecimalField(max_digits=10, decimal_places=2)
    quantity = models.IntegerField()
    user = models.ForeignKey('a
-->