{% extends 'base.html' %}

{% block content %}
  <h1>Customers</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact Info</th>
        <th>Discount</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.contact_info }}</td>
          <td>
            {% if customer.discount %}
              {{ customer.discount.name }} (\[{{ customer.discount.discount_percentage }}%\])
            {% else %}
              None
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No customers created yet.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'sclad:customer_create' %}">Add Customer</a>
{% endblock %}
