{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<form action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>

  <h2>Dashboard 2024</h2>

  <h3>Номенклатура</h3>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Артикул</th>
      <th scope="col">Товар</th>
      <th scope="col">Кол</th>
      <th scope="col">Цена</th>
        <th scope="col">Действия</th>
    </tr>
  </thead>
    <tbody>
      {% for product in products %}
       <tr>
          <th scope="row">{{ product.article_number }}</th>
          <th scope="row" class="text-secondary">{{ product.name }}</th>
          <th scope="row">{{ product.quantity }}</th>
           <th scope="row">${{product.sell_price | floatformat:0}}</th>
           <th scope="row"><a href="{% url 'sclad:product_detail' product.id %}">Просмотреть</a></th>
       </tr>
       {% endfor %}
    </tbody>
  </table>

{% if user.role == 'admin' %}
<a href="{% url 'sclad:product_create' %}" class="btn btn-primary">Добавить продукт</a>
  <h3>Поступления</h3>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Последние поступления</th>
    </tr>
  </thead>
    <tbody>
    {% for arrival in recent_arrivals %}
    <tr>
          <th scope="row"><a href="{% url 'sclad:arrival_detail' arrival.id %}"> {{ arrival }}</a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'sclad:arrival_create' %}" class="btn btn-primary">Добавить поступление</a>

<h3>Продажи</h3>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Последние продажи</th>
    </tr>
  </thead>
    <tbody>
    {% for expense in recent_expenses %}
    <tr>
          <th scope="row">
              <a href="{% url 'sclad:expense_detail' expense.id %}">
                  {{ expense }}, Сумма: ${{ expense.total_cost}}
              </a>
          </th>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Возвраты</h3>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Последние возвраты</th>
    </tr>
  </thead>
    <tbody>
    {% for return_item in recent_returns %}
    <tr>
          <th scope="row">{{ return_item }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Cписания</h3>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Последние списания</th>
    </tr>
  </thead>
    <tbody>
    {% for writeoff in recent_writeoffs %}
    <tr>
          <th scope="row">{{ writeoff }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% elif user.role == 'manager' %}
  <h3>Ваши продажи за сегодня</h3>
  <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Последние продажи</th>
      </tr>
    </thead>
      <tbody>
      {% for expense in recent_expenses %}
      <tr>
            <th scope="row">
                <a href="{% url 'sclad:expense_detail' expense.id %}">
                    {{ expense }}, Сумма: ${{ expense.total_cost}}
                </a>
            </th>
      </tr>
      {% endfor %}
      </tbody>
  </table>
<a class="btn btn-primary" href="{% url 'sclad:expense_create' %}">Создать продажу</a>

<h3>Поступления</h3>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Последние поступления</th>
    </tr>
  </thead>
    <tbody>
    {% for arrival in recent_arrivals %}
    <tr>
          <th scope="row">{{ arrival }}</a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'accounts:login' %}">Log In</a>
{% endif %}
{% endif %}
{% endblock %}

