{% extends 'base.html' %}

{% load custom_tags %}

{% block content %}
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
       <th scope="col">Дата</th>
       <th scope="col">Покупатель</th>
       <th scope="col">% Скидка</th>
       <th scope="col">Продукт</th>
       <th scope="col">Цена</th>
       <th scope="col">Кол-во</th>
       <th scope="col">Сумма</th>
       <th scope="col">$ Скидка</th>
    </tr>
  </thead>
  <tbody>
    {% for item in expense.expensecomposition_set.all %}
    <tr>
        <td>{{ expense.date }}</td>
        <td>{{ expense.customer }}</td>
        <td>{{ expense.customer.discount }}</td>
        <td>{{ item.product.name }}</td>
        <td>${{ item.product.sell_price | floatformat:0 }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.quantity|mul:item.product.sell_price|floatformat:0 }}
        <td>${{ item.quantity|mul:item.product.sell_price|mul:expense.customer.discount|

        tformat:0 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Описание</th>
        <th scope="col">Оформитель</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ expense.description }}</td>
        <td>{{ expense.user }}</td>
    </tr>
    </tbody>
</table>

{% endblock %}


<!-- discount , total_cost-->